body {
    font-family: 'Arial', sans-serif;
    height: 100vh;
    background: whitesmoke;
    margin: 0;
}

.container-c {    
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.input-group {
    display: flex;   
    margin-bottom: 20px;     
    justify-content: center;
    align-items: center;
    gap: 10px;
}

input {
    margin: 5px;
    padding: 10px;
    width: 80px;
    border: 2px solid #007BFF;
    border-radius: 4px;
    transition: border-color 0.3s;
}

input:focus {
    border-color: #0056b3;
    outline: none;
}

button {
    padding: 10px 20px;
    margin: 5px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

#matrix {
    display: grid;
    gap: 10px; 
    justify-content: center; 
    margin-top: 20px;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 2px solid #ddd;
    transition: background-color 0.3s, transform 0.3s;
}

.cell:hover {
    background-color: #007BFF;
    color: white;
    transform: scale(1.1);
}

.cell input {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 16px;
    border: none;
    background: transparent;
    outline: none;
    font-weight: bold;
}
